/**
 * Variables
 */
@use 'scss/unit' as u;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$fonts: (
  primary: (
    'Dosis',
    sans-serif,
  ),
  secondary: (
    'Pacifico',
    cursive,
  ),
);

$colors: (
  black: #000,

  red: #ff0000,

  white: #fff,
);

$breakpoints: (
  xs: 480,
  sm: 768,
  md: 992,
  lg: 1220,
);
