@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/unit' as u;
@use 'scss/font';

.list {
  li {
    @include font.size(18, 18);

    font-weight: bold;
    color: var(--theme-color-background);

    @include bp.down(xs) {
      @include font.size(14, 14);
    }

    &:not(:last-child) {
      margin-bottom: u.rem-calc(20);

      @include bp.down(xs) {
        margin-bottom: u.rem-calc(15);
      }
    }

    &::marker {
      content: '';
    }

    &::before {
      background: var(--theme-color-background);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: u.rem-calc(8);
      margin-right: u.rem-calc(18);
      min-width: u.rem-calc(8);
      vertical-align: middle;

      @include bp.down(sm) {
        height: u.rem-calc(6);
        margin-right: u.rem-calc(4);
        min-width: u.rem-calc(6);
      }
    }
  }
}
