@use 'scss/color';
@use 'scss/config/variables' as v;
@use 'scss/font';
@use 'scss/unit' as u;

.wrapper {
  align-items: center;
  display: flex;
  gap: u.rem-calc(15);
}

.label {
  color: var(--theme-color-primary);
  transition: color 0.5s;
}

.switch {
  align-items: center;
  background: var(--theme-color-background);
  border-radius: u.rem-calc(35);
  box-shadow: v.$shadow;
  display: flex;
  max-height: u.rem-calc(28);
  padding: u.rem-calc(8) u.rem-calc(4);
  position: relative;
  transition: background 0.5s;
  width: fit-content;
  z-index: 2;
}

.item {
  background: none;
  border: none;
  color: var(--theme-color-primary);
  cursor: pointer;
  font-family: font.get(primary);
  padding: u.rem-calc(2) u.rem-calc(8);
  position: relative;
  transition: color 0.5s;
  white-space: nowrap;
}

.isActive .item {
  color: var(--theme-color-background);
  transition: color 0.5s;
}

.wrap {
  display: flex;
  gap: u.rem-calc(6);
  list-style: none;
}

.indicator {
  background: var(--theme-color-secondary);
  border-radius: u.rem-calc(35);
  min-height: u.rem-calc(22);
  position: absolute;
  transition: 0.25s cubic-bezier(0.4, 1.35, 0.55, 1), background 0.5s;
  z-index: -1;
}
