/**
 * Global styles
 */

@use 'scss/color';
@use 'scss/font';

:root {
  --theme-color-background: #{color.get(grey-3)};
  --theme-color-primary: #{color.get(grey)};
  --theme-color-secondary: #{color.get(purple)};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: font.get(primary);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
