@use 'scss/breakpoint' as bp;
@use 'scss/config/variables' as v;
@use 'scss/placeholders/contact-form';
@use 'scss/placeholders/text';
@use 'scss/unit' as u;

$max-content-width: u.rem-calc(980);

.slider {
  margin: u.rem-calc(140) 0;
  width: 100%;

  @include bp.down(xl) {
    margin-top: u.rem-calc(40);
  }

  @include bp.down(lg) {
    margin-bottom: u.rem-calc(80);
  }

  @include bp.down(xs) {
    margin-bottom: u.rem-calc(40);
  }
}

.inner {
  display: flex;
  gap: u.rem-calc(40);
  justify-content: space-between;
  position: relative;

  @include bp.down(xl) {
    margin: auto;
  }

  @include bp.down(lg) {
    flex-direction: column;
  }

  @include bp.down(sm) {
    gap: u.rem-calc(20);
  }
}

.description {
  @extend %text;
}

.content {
  max-width: $max-content-width;

  @include bp.down(lg) {
    max-width: unset;
  }
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(20);
  margin-top: u.rem-calc(60);

  @include bp.down(sm) {
    gap: u.rem-calc(15);
    margin: u.rem-calc(20) 0;
  }
}

.sticky {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(20);
  height: fit-content;
  max-width: u.rem-calc(500);
  position: sticky;
  top: u.rem-calc(20);
  width: 100%;

  @include bp.down(sm) {
    gap: u.rem-calc(10);
  }
}

.contactForm {
  @extend %contact-form;

  max-width: $max-content-width;

  @include bp.down(lg) {
    max-width: unset;
  }
}

.contactTitle {
  @include bp.down(lg) {
    width: fit-content;
  }
}
