@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;
@use 'scss/placeholders/text';
@use 'scss/config/variables' as v;

.wrapper {
  margin: auto;
  max-width: u.rem-calc(1400);
  padding: v.$padding-y;
  width: 100%;

  @include bp.down(lg) {
    padding: v.$padding-y-mobile;
  }
}

.slider {
  margin-bottom: u.rem-calc(140);
  width: 100%;

  @include bp.down(lg) {
    margin-bottom: u.rem-calc(80);
  }
}

.inner {
  display: flex;
  gap: u.rem-calc(40);
  justify-content: space-between;
  position: relative;

  @include bp.down(xl) {
    margin: auto;
  }

  @include bp.down(lg) {
    flex-direction: column;
  }

  @include bp.down(sm) {
    gap: u.rem-calc(20);
  }
}

.content {
  max-width: u.rem-calc(800);

  @include bp.down(lg) {
    max-width: unset;
  }
}

.description {
  @extend %text;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(20);
  margin-top: u.rem-calc(60);

  @include bp.down(sm) {
    gap: u.rem-calc(15);
    margin: u.rem-calc(20) 0;
  }
}

.sticky {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(20);
  height: fit-content;
  max-width: u.rem-calc(460);
  position: sticky;
  top: u.rem-calc(20);
  width: 100%;

  @include bp.down(lg) {
    max-width: unset;
  }

  @include bp.down(sm) {
    gap: u.rem-calc(10);
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(30);
  margin-top: u.rem-calc(60);

  @include bp.down(sm) {
    gap: u.rem-calc(10);
    margin-top: u.rem-calc(40);
  }
}
