@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;

%contact-form {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(30);
  margin-top: u.rem-calc(60);

  @include bp.down(xl) {
    margin-top: u.rem-calc(30);
  }

  @include bp.down(sm) {
    gap: u.rem-calc(20);
  }
}
