@use 'scss/color';
@use 'scss/font';
@use 'scss/unit' as u;

%form-field {
  background: var(--theme-color-background);
  border: u.rem-calc(2) solid transparent;
  border-radius: u.rem-calc(12);
  box-shadow: 0 u.rem-calc(4) u.rem-calc(10) rgba(0, 0, 0, 0.1);
  color: var(--theme-color-primary);
  font-family: font.get(primary);
  font-weight: 600;
  padding: u.rem-calc(18);
  transition: 0.25s;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    filter: blur(u.rem-calc(2));
  }

  &.hasError {
    border: u.rem-calc(2) solid color.get(red);
  }
}
