/**
 * Typography setup
 */

$heading-tags: (h1, h2, h3, h4, h5, h6);

$styles: (
  h1: (
    font-size: 96,
    line-height: 110,
    font-weight: 400,
    font-family: 'secondary',
    xl: (
      font-size: 76,
    ),
    xs: (
      font-size: 40,
      line-height: 46,
    ),
  ),
  h2: (
    font-size: 48,
    line-height: 56,
    font-weight: 400,
    font-family: 'secondary',
    xl: (
      font-size: 40,
      line-height: 36,
    ),
    xs: (
      font-size: 32,
      line-height: 36,
    ),
  ),
  p: (
    font-size: 24,
    line-height: 28,
    font-weight: 600,
    xl: (
      font-size: 20,
      line-height: 18,
    ),
    xs: (
      font-size: 16,
      line-height: 18,
    ),
  ),
  list-item: (
    font-size: 20,
    line-height: 24,
    font-weight: 600,
    xs: (
      font-size: 14,
      line-height: 14,
    ),
  ),
  label: (
    font-size: 20,
    line-height: 24,
    font-weight: 800,
    xs: (
      font-size: 18,
      line-height: 21,
    ),
  ),
  label-small: (
    font-size: 16,
    line-height: 18,
    font-weight: 700,
  ),
);
