@use 'scss/breakpoint' as bp;
@use 'scss/placeholders/text';
@use 'scss/unit' as u;

.image-number-1 {
  bottom: u.rem-calc(-100);
  max-width: u.rem-calc(580);
  right: u.rem-calc(200);
  transform: rotate(12deg);
  z-index: 3;

  @include bp.down(lg) {
    max-width: u.rem-calc(630);
    transform: rotate(-10deg);
  }
}

.image-number-2 {
  max-width: u.rem-calc(620);
  right: u.rem-calc(-100);
  top: u.rem-calc(-80);
  transform: rotate(8deg);
  z-index: 1;

  @include bp.down(lg) {
    max-width: u.rem-calc(700);
    right: u.rem-calc(-160);
  }
}

.image-number-3 {
  left: 0;
  max-width: u.rem-calc(560);
  top: u.rem-calc(-50);
  transform: rotate(13deg);
  z-index: 2;

  @include bp.down(lg) {
    left: u.rem-calc(-200);
    max-width: u.rem-calc(690);
    transform: rotate(-5deg);
  }
}

.wrapper {
  height: u.rem-calc(1000);
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: scale(var(--scale)) translate(-50%, -50%);
  transform-origin: top left;
  transition: opacity 0.25s;
  width: u.rem-calc(1000);
  z-index: 1;

  &.animate {
    opacity: 1;
  }
}

.image {
  position: absolute;
  transition: 0.5s;
}
