@use 'scss/color';
@use 'scss/unit' as u;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(10);
}

.label {
  color: var(--theme-color-primary);
}

.error {
  color: color.get(red);
}
