@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;

.wrapper {
  margin: auto;

  &:not(.isFullScreen) {
    max-width: u.rem-calc(1600);
    padding: 0 u.rem-calc(40);

    @include bp.down(md) {
      padding: 0 u.rem-calc(20);
    }

    @include bp.down(sm) {
      padding: 0 u.rem-calc(15);
    }
  }
}

.navigation {
  left: 50%;
  margin: auto;
  max-width: u.rem-calc(1600);
  position: absolute;
  top: u.rem-calc(20);
  transform: translateX(-50%);
  width: 100%;
  z-index: 9999;

  @include bp.down(lg) {
    padding-left: u.rem-calc(30);
  }
}
