@use 'scss/color';
@use 'scss/unit' as u;

.info {
  align-items: center;
  color: var(--theme-color-primary);
  display: flex;
  gap: u.rem-calc(12);
}

.icon {
  width: u.rem-calc(20);

  path {
    fill: var(--theme-color-primary);
  }
}
