/**
 * Global styles
 */

@use 'scss/color';
@use 'scss/font';
@use 'scss/breakpoint' as bp;

:root {
  --theme-color-background: #{color.get(grey-3)};
  --theme-color-primary: #{color.get(grey)};
  --theme-color-secondary: #{color.get(purple)};
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--theme-color-background);
  font-family: font.get(primary);
  overflow-x: hidden;
  transition: background 0.5s;
}

html {
  scroll-behavior: smooth;

  @include bp.down(lg) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}
