@use 'scss/unit' as u;
@use 'scss/breakpoint' as bp;

.wrapper {
  color: var(--theme-color-primary);
  position: relative;

  p:not(:last-child) {
    margin-bottom: u.rem-calc(20);

    @include bp.down(xs) {
      margin-bottom: u.rem-calc(15);
    }
  }

  hr {
    margin: u.rem-calc(25) auto;
    opacity: 0.3;
  }

  h2 {
    margin-bottom: u.rem-calc(30);

    @include bp.down(xs) {
      margin-bottom: u.rem-calc(20);
    }
  }

  h3 {
    margin-bottom: u.rem-calc(20);

    @include bp.down(xs) {
      margin-bottom: u.rem-calc(10);
    }
  }

  ul,
  li {
    padding-left: u.rem-calc(20);

    &:not(:last-child) {
      margin-bottom: u.rem-calc(20);

      @include bp.down(xs) {
        margin-bottom: u.rem-calc(8);
      }
    }
  }
}
