@use 'scss/unit' as u;
@use 'scss/breakpoint' as bp;

.wrapper {
  color: var(--theme-color-primary);
  position: relative;

  p {
    @include bp.down(xl) {
      font-size: u.rem-calc(20);
    }
  }

  p:not(:last-child) {
    margin-bottom: u.rem-calc(20);

    @include bp.down(xs) {
      margin-bottom: u.rem-calc(15);
    }
  }

  hr {
    margin: u.rem-calc(25) auto;
    opacity: 0.3;
  }

  h2 {
    margin-bottom: u.rem-calc(30);

    @include bp.down(xs) {
      margin-bottom: u.rem-calc(20);
    }
  }

  h3,
  h4 {
    margin-bottom: u.rem-calc(20);

    @include bp.down(xl) {
      margin-bottom: u.rem-calc(15);
    }

    @include bp.down(xs) {
      margin-bottom: u.rem-calc(10);
    }
  }

  ul {
    padding-left: u.rem-calc(20);

    @include bp.down(xs) {
      padding-left: u.rem-calc(10);
    }
  }

  ul,
  li {
    &:not(:last-child) {
      margin-bottom: u.rem-calc(20);

      @include bp.down(xs) {
        margin-bottom: u.rem-calc(8);
      }
    }
  }
}
