@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;
@use 'scss/font' as f;
@use 'scss/color' as c;

.wrapper {
  border-radius: u.rem-calc(10);
  padding: u.rem-calc(40) u.rem-calc(60);

  @include bp.down(sm) {
    padding: u.rem-calc(15) u.rem-calc(40);
  }
}

.title {
  color: c.get(red);
  text-align: center;
}

.description {
  @include f.size(24, 20);

  font-family: f.get(secondary);
  margin-top: u.rem-calc(30);
  text-align: center;

  @include bp.down(sm) {
    font-size: u.rem-calc(16);
    margin-top: u.rem-calc(20);
  }
}

.icon {
  display: block;
  margin: 0 auto u.rem-calc(30) auto;
  width: u.rem-calc(200);
}

.image {
  height: u.rem-calc(400);
  margin-bottom: u.rem-calc(40);
  position: relative;
  width: 100%;

  img {
    object-fit: cover;
  }
}

.theme-dark {
  background: c.get(black);
  box-shadow: 0 0 u.rem-calc(20) u.rem-calc(8) rgba(255, 255, 255, 0.05);
  color: c.get(white-3);
}

.theme-light {
  background: c.get(white-3);
  box-shadow: 0 0 u.rem-calc(20) u.rem-calc(8) rgba(0, 0, 0, 0.05);
  color: c.get(black);
}
