@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/unit' as u;

$transition: 0.2s;

.wrapper {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  max-height: u.rem-calc(66);
  max-width: u.rem-calc(66);
  overflow: hidden;
  transition: $transition;

  @include bp.down(xl) {
    max-height: u.rem-calc(42);
    max-width: u.rem-calc(42);
  }

  @include bp.down(xs) {
    max-height: u.rem-calc(36);
    max-width: u.rem-calc(36);
  }
}

.icon {
  border: u.rem-calc(2) solid transparent;

  path {
    transition: $transition;
  }
}

.wrapper:hover {
  opacity: 0.95;
  transform: scale(1.05) skew(2deg);

  .icon {
    background: var(--theme-color-secondary);

    path {
      fill: var(--theme-color-background);
    }
  }
}
