@use 'scss/breakpoint' as bp;
@use 'scss/placeholders/text';
@use 'scss/placeholders/contact-form';
@use 'scss/unit' as u;
@use 'scss/config/variables' as v;

.wrapper {
  display: flex;
  gap: u.rem-calc(60);
  justify-content: space-between;
  margin-top: u.rem-calc(140);
  position: relative;

  @include bp.down(lg) {
    flex-direction: column;
  }

  @include bp.down(xs) {
    gap: u.rem-calc(20);
    margin-top: u.rem-calc(100);
  }
}

.about {
  max-width: u.rem-calc(980);

  @include bp.down(lg) {
    max-width: unset;
  }
}

.atropos {
  transform: rotate(-3deg);
}

.hero {
  margin: 0 auto u.rem-calc(100);

  @include bp.down(xl) {
    margin-bottom: u.rem-calc(60);
  }
}

.ctaButton {
  margin-top: u.rem-calc(40);
}

.description {
  margin: u.rem-calc(40) 0;

  @include bp.down(xs) {
    margin: u.rem-calc(30) 0;
  }
}

.contact {
  height: fit-content;
  max-width: u.rem-calc(500);
  position: sticky;
  top: u.rem-calc(30);
  width: 100%;

  @include bp.up(lg) {
    min-width: u.rem-calc(400);
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(20);
  width: fit-content;

  @include bp.down(xs) {
    gap: u.rem-calc(10);
  }
}

.links {
  display: flex;
  gap: u.rem-calc(30);

  @include bp.down(xl) {
    gap: u.rem-calc(15);
  }

  @include bp.down(xs) {
    gap: u.rem-calc(10);
  }
}

.contactForm {
  @extend %contact-form;
}

.contactFormTitle {
  text-align: left;
}
