@use 'scss/breakpoint' as bp;
@use 'scss/placeholders/navigation-item';
@use 'scss/unit' as u;

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  gap: u.rem-calc(10);
  justify-content: space-between;
  transform: translateX(u.rem-calc(-20));
  width: 100%;

  @include bp.down(md) {
    transform: translateX(u.rem-calc(-10));
  }
}

.linksList {
  display: flex;
  gap: u.rem-calc(15);
  height: fit-content;
  list-style: none;
  margin-left: u.rem-calc(16);
}

.link {
  @extend %navigation-item;

  width: fit-content;
}
