@use 'scss/unit' as u;
@use 'scss/breakpoint' as bp;

.wrapper {
  color: var(--theme-color-primary);
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(18);

  @include bp.down(sm) {
    gap: u.rem-calc(15);
  }
}

.fadeOut {
  position: relative;

  &::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      var(--theme-color-background) 100%
    );
    bottom: u.rem-calc(-2);
    content: '';
    height: u.rem-calc(82);
    left: 0;
    position: absolute;
    width: 100%;

    @include bp.down(sm) {
      height: u.rem-calc(50);
    }
  }
}
