@use 'scss/color';
@use 'scss/unit' as u;

.wrapper {
  height: u.rem-calc(120);
  width: 100%;
}

.scrollbars {
  max-height: u.rem-calc(120);
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  row-gap: u.rem-calc(14);
}

.product {
  border: u.rem-calc(3) solid transparent;
  border-radius: 50%;
  box-sizing: content-box;
  height: u.rem-calc(48);
  opacity: 0.6;
  overflow: hidden;
  transition: 0.2s;
  width: u.rem-calc(48);

  &:hover {
    opacity: 1;
  }
}

.isActive {
  border: u.rem-calc(3) solid var(--theme-color-background);
  opacity: 1;
}

.image {
  height: 100%;
  position: relative;
  width: 100%;

  img {
    object-fit: cover;
  }
}
