@use 'scss/unit' as u;
@use 'scss/breakpoint' as bp;

.wrapper {
  background: var(--theme-color-background);
  border: u.rem-calc(2) solid var(--theme-color-secondary);
  border-radius: u.rem-calc(12);
  padding: u.rem-calc(20);

  @include bp.down(sm) {
    padding: u.rem-calc(15);
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: u.rem-calc(20);

    @include bp.down(sm) {
      margin-bottom: u.rem-calc(10);
    }
  }
}

.label {
  color: var(--theme-color-primary);
}

.price {
  color: var(--theme-color-secondary);
}
