@use 'scss/breakpoint' as bp;
@use 'scss/placeholders/text';
@use 'scss/unit' as u;
@use 'scss/config/variables' as v;

.inner {
  align-items: center;
  display: flex;
  gap: u.rem-calc(60);
  height: 100vh;
  margin: u.rem-calc(100) auto;
  min-height: 100vh;
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;

  @include bp.down(lg) {
    flex-direction: column;
    height: fit-content;
  }

  @include bp.down(md) {
    gap: u.rem-calc(20);
  }
}

.isInView {
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(30);
  max-width: u.rem-calc(700);

  @include bp.down(xl) {
    max-width: u.rem-calc(600);
  }

  @include bp.down(lg) {
    margin-top: u.rem-calc(80);
    max-width: unset;
    order: 2;
  }

  @include bp.down(xs) {
    align-items: flex-start;
    margin-top: u.rem-calc(40);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(20);
}

.button {
  width: fit-content;
}

.images {
  height: 100%;
  position: relative;
  width: 100%;

  @include bp.down(lg) {
    margin-top: u.rem-calc(50);
    min-height: u.rem-calc(600);
    order: 1;
  }

  @include bp.down(xs) {
    margin-top: 0;
    min-height: u.rem-calc(400);
  }
}
