@use 'scss/unit' as u;
@use 'scss/breakpoint' as bp;
@use 'scss/config/variables' as v;

.wrapper {
  background: var(--theme-color-background);
  border-radius: u.rem-calc(12);
  box-shadow: v.$shadow;
  font-weight: bold;
  padding: u.rem-calc(20);

  @include bp.down(lg) {
    background: none;
  }
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: u.rem-calc(20);

    @include bp.down(sm) {
      margin-bottom: u.rem-calc(10);
    }
  }
}

.label {
  color: var(--theme-color-primary);
}

.price {
  color: var(--theme-color-primary);
}
