@use 'scss/breakpoint' as bp;

.title {
  color: var(--theme-color-primary);
  transition: color 0.5s;

  @include bp.down(lg) {
    text-align: center;
  }
}

.hasSecondaryColor {
  color: var(--theme-color-secondary);
  transition: color 0.5s;
}
